/*function*/
$font-stack:    Helvetica, Arial, "Lucida Grande", sans-serif;;
$head-side: #d8d8d8;
/*function*/
#map_canvas{height:600px; max-width:650px; min-width:310px;}
.block50,.block30,.block70,.block66,.block33{float:left;}

body {
  text-align: center;
  font-family:$font-stack;
  margin:0;
 }
.logo{height:30px;weight:200px}
nav{background:#000;padding:1em;}
.hold {
    text-align:left;
    margin:0 auto;
    max-width:1000px;
	.block50{width:50%;}
	.block30{width:30%;}
	.block70{width:70%;}
	.block66{width:66%;}
	.block33{width:33%;}
}
.urlcontainers{background:$head-side;padding:1em; border-radius:1em;border-style:groove}
.formcontainer{padding:1em 0;}
.loccontent{
	margin:1em .75em;
	> span{display:block;}
	> .title{font-weight:bold; padding:.5em 0;}
}
footer ,nav {
    color: #fff;
    background: #000;
    padding: 1em;
    
}
footer{margin: 1em 0 0;}
@media screen and (max-width: 64em){
	.hold {margin: 0 1em ;}
	.hold .block66{width:60%; margin-right:3%}
}
@media screen and (max-width: 40em){
.hold {
	min-width:320px;
	marging: 0 5%;
	.block50,.block30,.block70,.block66,.block33{float:none; width:100%; padding:1em 0;}

}
#map_canvas{height:300px;}
}